.Dictionary {
  cursor: default;
  text-align: center;
  margin: 0 auto;
}

.Dictionary h1 {
  font-size: 18px;
  font-weight: 900;
  color: black;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  border-right: 0.15em solid orchid;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
}

.hint {
  text-align: left;
  font-size: 11px;
  margin-top: 5px;
  opacity: 0.8;
}
